In [4]:
#pokemon dataset
import pandas as pd 
pokedf= pd.read_csv('D:\DataAnalysis\pokemon_data.csv',index_col= '#')

In [123]:
pokedf.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [124]:
pokedf

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
22,Fearow,Normal,Flying,65,90,65,61,61,100,1,False
23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
24,Arbok,Poison,NaN,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...
700,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False
712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [125]:
megafilt=pokedf['Name'].str.contains('Mega')
pokedf.loc[megafilt,'Name']

#
3          VenusaurMega Venusaur
6      CharizardMega Charizard X
6      CharizardMega Charizard Y
9        BlastoiseMega Blastoise
15         BeedrillMega Beedrill
18           PidgeotMega Pidgeot
65         AlakazamMega Alakazam
80           SlowbroMega Slowbro
94             GengarMega Gengar
115    KangaskhanMega Kangaskhan
127            PinsirMega Pinsir
130        GyaradosMega Gyarados
142    AerodactylMega Aerodactyl
150          MewtwoMega Mewtwo X
150          MewtwoMega Mewtwo Y
154                     Meganium
181        AmpharosMega Ampharos
208          SteelixMega Steelix
212            ScizorMega Scizor
214      HeracrossMega Heracross
229        HoundoomMega Houndoom
248      TyranitarMega Tyranitar
254        SceptileMega Sceptile
257        BlazikenMega Blaziken
260        SwampertMega Swampert
282      GardevoirMega Gardevoir
302          SableyeMega Sableye
303            MawileMega Mawile
306            AggronMega Aggron
308        MedichamMega Medicham
310      ManectricMega Manectric
319        SharpedoMega Sharpedo
323        CameruptMega Camerupt
334          AltariaMega Altaria
354          BanetteMega Banette
359              AbsolMega Absol
362            GlalieMega Glalie
373      SalamenceMega Salamence
376      MetagrossMega Metagross
380            LatiasMega Latias
381            LatiosMega Latios
384        RayquazaMega Rayquaza
428          LopunnyMega Lopunny
445        GarchompMega Garchomp
448          LucarioMega Lucario
460      AbomasnowMega Abomasnow
475          GalladeMega Gallade
531            AudinoMega Audino
719          DiancieMega Diancie
Name: Name, dtype: object

In [126]:
pokedf

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
22,Fearow,Normal,Flying,65,90,65,61,61,100,1,False
23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
24,Arbok,Poison,NaN,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...
700,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False
712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [127]:
pokedf['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [128]:
#top 10 poke with non legendary/gen 1/attack>100/def>100/type1= fire, water , ground , electric , grass ,psychic
gen_filt= (pokedf['Generation'] == 1 )
#type1_filt= (pokedf['Type 1']== "Fire") & (pokedf['Type 1']== "Water") & (pokedf['Type 1']== "Ground") & (pokedf['Type 1']== "Electric") & (pokedf['Type 1']== "Grass") & (pokedf['Type 1']== "Psychic") 
subset=['Fire','Water','Ground','Electric','Grass','Psychic']
type1_filt= pokedf['Type 1'].isin(subset)
ability_filt= (pokedf['Attack'] >= 100) & (pokedf['Defense'] >= 100)
legend_filt= pokedf['Legendary'] == False

In [129]:
gen1_only = pokedf.loc[gen_filt]
gen1_only.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [130]:
type1_only = pokedf.loc[type1_filt]
type1_only.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [131]:
two_abilities_only = pokedf.loc[ability_filt]
two_abilities_only.head()
#T10_two_abilities_only = two_abilities_only.largest( 10 ,)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
28,Sandslash,Ground,NaN,75,100,110,45,55,65,1,False
76,Golem,Rock,Ground,80,120,130,55,65,45,1,False

In [132]:
non_legend_only = pokedf.loc[legend_filt]
non_legend_only

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
22,Fearow,Normal,Flying,65,90,65,61,61,100,1,False
23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
24,Arbok,Poison,NaN,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...
692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False
694,Helioptile,Electric,Normal,44,38,33,61,43,70,6,False
695,Heliolisk,Electric,Normal,62,55,52,109,94,109,6,False
696,Tyrunt,Rock,Dragon,58,89,77,45,45,48,6,False
697,Tyrantrum,Rock,Dragon,82,121,119,69,59,71,6,False
698,Amaura,Rock,Ice,77,59,50,67,63,46,6,False
699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False
700,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False
712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False

In [133]:
#Q1.) top10 -- type1: fire,water,psychic,fire,grass,electric,ground -- generation: 1,2,3,4,5 -- non legendary -- attack >=100 -- defense>=100 -- HP > 60 -- speed > 100
subset=['Fire','Water','Ground','Electric','Grass','Psychic']
gensubset=['1','2','3','4','5']
ultra_filt_one= (pokedf['Type 1'].isin(subset) ) & (pokedf['Generation'].isin(gensubset)) & (pokedf['Legendary'] == False) & (pokedf['Attack'] >= 100) & (pokedf['Defense'] >= 100) & (pokedf['HP'] >= 60) & (pokedf['Speed'] >= 100)
pokedf.loc[ultra_filt_one]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
151,Mew,Psychic,NaN,100,100,100,100,100,100,1,False
251,Celebi,Psychic,Grass,100,100,100,100,100,100,2,False
490,Manaphy,Water,NaN,100,100,100,100,100,100,4,False

In [134]:
Q1df = pokedf.loc[ultra_filt_one]
Q1df.to_csv('D:\DataAnalysis\Q1df.csv')

In [142]:
pokedf['Generation'].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [151]:
#Q2: compare strongest non-legendary poke fire & water -- type1: fire,water -- type2: any -- gen: 1,2
t1set=['Fire','Water']
genset=['1','2','3']
pokedf['strongness']=pokedf[['Attack','Defense','HP','Sp. Atk','Sp. Def','Speed']].mean(axis=1)
#ultra_filt_q2 =

In [152]:
pokedf.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,strongness
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,53.000000
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,67.500000
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,87.500000
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,104.166667
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,51.500000

In [153]:
ultra_filt_q2= (pokedf['Type 1'].isin(t1set)) & (pokedf['Generation'].isin(genset)) 
pokedf[ultra_filt_q2].head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,strongness
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,51.500000
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,67.500000
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,89.000000
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,105.666667
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,105.666667

In [164]:
Q2df = pokedf[ultra_filt_q2]
Q2df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,strongness
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,51.500000
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,67.500000
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,89.000000
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,105.666667
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,105.666667
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,52.333333
8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,67.500000
9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,88.333333
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,105.000000
37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,49.833333
38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False,84.166667
54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False,53.333333
55,Golduck,Water,NaN,80,82,78,95,80,85,1,False,83.333333
58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False,58.333333
59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,92.500000
60,Poliwag,Water,NaN,40,50,40,40,40,90,1,False,50.000000
61,Poliwhirl,Water,NaN,65,65,65,50,50,90,1,False,64.166667
62,Poliwrath,Water,Fighting,90,95,95,70,90,70,1,False,85.000000
72,Tentacool,Water,Poison,40,40,35,50,100,70,1,False,55.833333
73,Tentacruel,Water,Poison,80,70,65,80,120,100,1,False,85.833333
77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False,68.333333
78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,83.333333
79,Slowpoke,Water,Psychic,90,65,65,40,40,15,1,False,52.500000
80,Slowbro,Water,Psychic,95,75,110,100,80,30,1,False,81.666667
80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,98.333333
86,Seel,Water,NaN,65,45,55,45,70,45,1,False,54.166667
87,Dewgong,Water,Ice,90,70,80,70,95,70,1,False,79.166667
90,Shellder,Water,NaN,30,65,100,45,25,40,1,False,50.833333
91,Cloyster,Water,Ice,50,95,180,85,45,70,1,False,87.500000
98,Krabby,Water,NaN,30,105,90,25,25,50,1,False,54.166667
...,...,...,...,...,...,...,...,...,...,...,...,...
259,Marshtomp,Water,Ground,70,85,70,60,70,50,3,False,67.500000
260,Swampert,Water,Ground,100,110,90,85,90,60,3,False,89.166667
260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False,105.833333
270,Lotad,Water,Grass,40,30,30,40,50,30,3,False,36.666667
271,Lombre,Water,Grass,60,50,50,60,70,50,3,False,56.666667
272,Ludicolo,Water,Grass,80,70,70,90,100,70,3,False,80.000000
278,Wingull,Water,Flying,40,30,30,55,30,85,3,False,45.000000
279,Pelipper,Water,Flying,60,50,100,85,70,65,3,False,71.666667
318,Carvanha,Water,Dark,45,90,20,65,20,65,3,False,50.833333
319,Sharpedo,Water,Dark,70,120,40,95,40,95,3,False,76.666667
319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False,93.333333
320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False,66.666667
321,Wailord,Water,NaN,170,90,45,90,45,60,3,False,83.333333
322,Numel,Fire,Ground,60,60,40,65,45,35,3,False,50.833333
323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False,76.666667
323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,93.333333
324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False,78.333333
339,Barboach,Water,Ground,50,48,43,46,41,60,3,False,48.000000
340,Whiscash,Water,Ground,110,78,73,76,71,60,3,False,78.000000
341,Corphish,Water,NaN,43,80,65,50,35,35,3,False,51.333333
342,Crawdaunt,Water,Dark,63,120,85,90,55,55,3,False,78.000000
349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,33.333333
350,Milotic,Water,NaN,95,60,79,100,125,81,3,False,90.000000
366,Clamperl,Water,NaN,35,64,85,74,55,32,3,False,57.500000
367,Huntail,Water,NaN,55,104,105,94,75,52,3,False,80.833333
368,Gorebyss,Water,NaN,55,84,105,114,75,52,3,False,80.833333
369,Relicanth,Water,Rock,100,90,130,45,65,55,3,False,80.833333
370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False,55.000000
382,Kyogre,Water,NaN,100,100,90,150,140,90,3,True,111.666667
382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,128.333333

In [166]:
 Q2dfclean=Q2df.drop(columns=['Type 2','HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Legendary'], axis='columns')
 Q2dfclean

                          Name Type 1  Generation  strongness
#
4                   Charmander   Fire           1   51.500000
5                   Charmeleon   Fire           1   67.500000
6                    Charizard   Fire           1   89.000000
6    CharizardMega Charizard X   Fire           1  105.666667
6    CharizardMega Charizard Y   Fire           1  105.666667
7                     Squirtle  Water           1   52.333333
8                    Wartortle  Water           1   67.500000
9                    Blastoise  Water           1   88.333333
9      BlastoiseMega Blastoise  Water           1  105.000000
37                      Vulpix   Fire           1   49.833333
38                   Ninetales   Fire           1   84.166667
54                     Psyduck  Water           1   53.333333
55                     Golduck  Water           1   83.333333
58                   Growlithe   Fire           1   58.333333
59                    Arcanine   Fire           1   92.500000
60                     Poliwag  Water           1   50.000000
61                   Poliwhirl  Water           1   64.166667
62                   Poliwrath  Water           1   85.000000
72                   Tentacool  Water           1   55.833333
73                  Tentacruel  Water           1   85.833333
77                      Ponyta   Fire           1   68.333333
78                    Rapidash   Fire           1   83.333333
79                    Slowpoke  Water           1   52.500000
80                     Slowbro  Water           1   81.666667
80         SlowbroMega Slowbro  Water           1   98.333333
86                        Seel  Water           1   54.166667
87                     Dewgong  Water           1   79.166667
90                    Shellder  Water           1   50.833333
91                    Cloyster  Water           1   87.500000
98                      Krabby  Water           1   54.166667
..                         ...    ...         ...         ...
259                  Marshtomp  Water           3   67.500000
260                   Swampert  Water           3   89.166667
260      SwampertMega Swampert  Water           3  105.833333
270                      Lotad  Water           3   36.666667
271                     Lombre  Water           3   56.666667
272                   Ludicolo  Water           3   80.000000
278                    Wingull  Water           3   45.000000
279                   Pelipper  Water           3   71.666667
318                   Carvanha  Water           3   50.833333
319                   Sharpedo  Water           3   76.666667
319      SharpedoMega Sharpedo  Water           3   93.333333
320                    Wailmer  Water           3   66.666667
321                    Wailord  Water           3   83.333333
322                      Numel   Fire           3   50.833333
323                   Camerupt   Fire           3   76.666667
323      CameruptMega Camerupt   Fire           3   93.333333
324                    Torkoal   Fire           3   78.333333
339                   Barboach  Water           3   48.000000
340                   Whiscash  Water           3   78.000000
341                   Corphish  Water           3   51.333333
342                  Crawdaunt  Water           3   78.000000
349                     Feebas  Water           3   33.333333
350                    Milotic  Water           3   90.000000
366                   Clamperl  Water           3   57.500000
367                    Huntail  Water           3   80.833333
368                   Gorebyss  Water           3   80.833333
369                  Relicanth  Water           3   80.833333
370                    Luvdisc  Water           3   55.000000
382                     Kyogre  Water           3  111.666667
382        KyogrePrimal Kyogre  Water           3  128.333333

[106 rows x 4 columns]

In [167]:
Q2dfclean.to_csv('D:\DataAnalysis\Q2df.csv')

In [5]:
pokedf

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
19,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
22,Fearow,Normal,Flying,65,90,65,61,61,100,1,False
23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
24,Arbok,Poison,NaN,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...
700,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False
712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
pokedf['Attack'].unique()

array([ 49,  62,  82, 100,  52,  64,  84, 130, 104,  48,  63,  83, 103,
        30,  20,  45,  35,  25,  90, 150,  60,  80,  56,  81,  85,  55,
        75,  47,  92,  57,  72, 102,  70,  41,  76,  50,  65,  95, 105,
       110,  40, 120,  73,   5, 125,  67, 155,  10, 115, 135, 134, 190,
        46,  38,  58,  33, 185, 164, 160,  51,  71,  91, 140,  43,  78,
        15, 165,  68,  23, 145, 180,  89, 109,  66,  86,  42,  29,  59,
        79,  69,  94, 136,  93,  24, 170, 112,  61, 106, 132, 123,  88,
        53,  98,  77,  27, 117, 108,  44,  87, 147,  74, 124,  97, 129,
       128, 107,  36,  22,  54, 121, 131], dtype=int64)

In [7]:
pokedf.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [8]:
pokedf['Defense'].unique()

array([ 49,  63,  83, 123,  43,  58,  78, 111,  65,  80, 100, 120,  35,
        55,  50,  30,  40,  75,  60,  44,  69,  85, 110,  52,  67,  87,
        57,  77,  48,  73,  20,  45,  70,  25,  95,  15, 115, 130, 180,
       160,  90,  53,  79,   5, 109, 125, 105,  64,  34,  38,  28,  42,
       140, 200, 230,  62,  37,  10, 150,  41,  61,  32,  23, 135,  97,
        71,  68,  88,  51, 118, 168, 102,  66,  84,  94,  47,  86, 116,
       108,  72,  56,  76, 145, 107, 106,  39, 126,  59,  99,  89, 103,
       133,  82,  91, 131, 112, 129, 122,  54,  33, 119, 184, 121],
      dtype=int64)

In [10]:
pokedf['Speed'].unique()

array([ 45,  60,  80,  65, 100,  43,  58,  78,  30,  70,  50,  35,  75,
       145,  56,  71, 101, 121,  72,  97,  55,  90, 110,  40,  41,  76,
        85,  20,  25,  95, 120, 115, 105, 150,  15, 130,  42,  67, 140,
        87,  63,  68,  93,  81,  48,  91,  33,   5,  83,  51,  61, 125,
       160,  28, 135,  10,  23,  32,  52, 180,  31,  36, 108,  66,  34,
        39, 112,  74,  84,  82, 102,  92,  47,  46,  86,  77, 127, 113,
       106,  64,  24,  29, 116, 114,  88,  69,  57,  98,  22,  44,  59,
        79, 103, 109,  38, 111, 128,  99,  73, 104, 122,  62, 126,  89,
        49, 118,  54, 123], dtype=int64)

In [13]:
pokedf.rename(columns={'Sp. Atk':'Sp.Attack','Sp. Def':'Sp.Defence'}, inplace=True)
pokedf.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defence,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [14]:
pokedf['Sp.Attack'].unique()

array([ 65,  80, 100, 122,  60, 109, 130, 159,  50,  85, 135,  20,  25,
        90,  45,  15,  35,  70,  31,  61,  40,  55,  75,  95,  81,  30,
       110, 105, 120, 175,  58, 115, 170,  43,  73, 125,  48, 154, 194,
        49,  63,  83,  44,  59,  79,  36,  76,  56, 165,  72,  33,  10,
       140, 145,  51,  71,  91,  47,  46,  93,  23,  74,  94, 114, 160,
       150, 180,  78, 104, 111,  42,  29,  69,  62,  87,  57,  92,  54,
        64,  41,  24,  38,  68,  86, 132, 116, 108,  88,  53,  98,  67,
       107,  77,  37, 106, 103, 112,  97, 129, 128,  32,  27,  99,  39,
       131], dtype=int64)

In [15]:
pokedf['HP'].unique()

array([ 45,  60,  80,  39,  58,  78,  44,  59,  79,  50,  40,  65,  63,
        83,  30,  55,  35,  75,  70,  90,  46,  61,  81,  95,  38,  73,
       115, 140,  10,  25,  52, 105,  85, 250,  20, 130,  48, 160,  41,
        91, 106, 100, 125, 190, 255,  28,  68, 150,  31,   1,  64,  84,
       104,  72, 144, 170, 110,  43,  66,  86,  99,  76,  53,  37,  77,
        67,  97, 111,  49,  71, 103,  57, 108, 135,  74,  69, 120, 116,
        62,  54,  36,  51, 114, 165, 109,  89,  92,  56,  88, 123, 101,
        82,  42, 126], dtype=int64)

In [22]:
#Q3: most useless pokemon among major types fire, water, grass, poison, psychic, rock, electric, gas, normal , ground, fighting under type1 which you can still expect to act as a buffer between your best pokemons. Strategic pokemon battles.
genset3=['1','2','3']
type3=['Fire','Water','Grass','Poison','Psychic','Rock','Electric','Gas','Normal','Ground','Fighting']
filt3= (pokedf['Attack'] <= 60) & (pokedf['Defense'] <= 60) & (pokedf['Speed']<= 25) & (pokedf['Sp.Attack']<= 50) & (pokedf['Sp.Defence'] <= 50) & (pokedf['HP']<= 50) & (pokedf['Generation'].isin(genset3)) & (pokedf['Type 1'].isin(type3))
pokedf[filt3]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defence,Speed,Generation,Legendary
#,,,,,,,,,,,
161,Sentret,Normal,NaN,35,46,34,35,45,20,2,False
298,Azurill,Normal,Fairy,50,20,40,20,40,20,3,False

In [26]:
pokedf['Strongness'] = pokedf[['Attack','Defense','Speed','Sp.Attack','Sp.Defence','HP',]].mean(axis=1)
pokedf.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defence,Speed,Generation,Legendary,Strongness
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,53.000000
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,67.500000
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,87.500000
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,104.166667
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,51.500000

In [27]:
pokedf['Strongness'].unique()

array([ 53.        ,  67.5       ,  87.5       , 104.16666667,
        51.5       ,  89.        , 105.66666667,  52.33333333,
        88.33333333, 105.        ,  32.5       ,  34.16666667,
        65.83333333,  82.5       ,  41.83333333,  58.16666667,
        79.83333333,  96.5       ,  42.16666667,  68.83333333,
        43.66666667,  73.66666667,  48.        ,  73.        ,
        53.33333333,  80.83333333,  50.        ,  75.        ,
        45.83333333,  60.83333333,  84.16666667,  45.5       ,
        53.83333333,  80.5       ,  49.83333333,  45.        ,
        72.5       ,  40.83333333,  75.83333333,  81.66666667,
        47.5       ,  50.83333333,  44.16666667,  48.33333333,
        73.33333333,  83.33333333,  58.33333333,  92.5       ,
        64.16666667,  85.        ,  51.66666667,  66.66666667,
        98.33333333,  65.        ,  55.83333333,  85.83333333,
        68.33333333,  52.5       ,  54.16666667,  77.5       ,
        58.66666667,  76.66666667,  79.16666667, 100.        ,
        54.66666667,  55.        ,  80.        ,  86.66666667,
        70.83333333,  56.66666667,  57.5       ,  49.16666667,
        33.33333333,  90.        , 106.66666667,  89.16666667,
        59.16666667, 102.5       ,  96.66666667,  70.        ,
       113.33333333, 130.        ,  35.83333333,  69.16666667,
        41.66666667,  36.33333333,  35.        ,  78.33333333,
        46.66666667, 101.66666667,  60.        ,  30.        ,
        71.66666667,  56.        ,  63.33333333, 116.66666667,
       105.83333333,  36.66666667,  40.        ,  33.        ,
        46.33333333,  86.33333333, 103.        ,  44.83333333,
        69.        , 111.66666667,  44.33333333,  76.        ,
        39.33333333,  39.5       ,  79.        ,  31.66666667,
        62.5       ,  43.33333333,  95.83333333,  50.33333333,
        77.83333333,  93.33333333,  76.33333333,  78.        ,
        51.33333333,  94.16666667, 128.33333333,  32.33333333,
        64.        ,  43.83333333,  60.5       ,  87.16666667,
        37.33333333,  70.66666667,  40.66666667,  80.33333333,
        58.        ,  83.        ,  75.33333333,  54.83333333,
        68.5       ,  75.66666667,  55.66666667,  82.33333333,
        99.        ,  90.83333333, 120.        ,  88.        ,
        69.66666667,  42.5       ,  61.66666667,  46.83333333,
        74.33333333,  52.66666667,  48.66666667,  81.16666667,
        44.        ,  59.66666667,  81.33333333,  82.83333333,
        52.16666667,  84.66666667,  74.16666667,  49.        ,
        84.83333333,  58.5       ,  86.5       ,  76.83333333,
        50.5       ,  66.83333333,  94.5       ,  78.83333333,
        71.33333333,  77.33333333,  53.16666667,  78.66666667,
        81.5       ,  78.5       ,  80.66666667,  91.66666667,
       110.        ,  51.16666667,  68.16666667,  70.5       ,
        63.66666667,  83.16666667,  35.5       ,  61.5       ,
        84.5       ,  61.83333333,  92.        ,  88.5       ,
        77.66666667,  74.66666667,  56.83333333,  77.        ,
        51.        ,  48.16666667,  80.16666667,  60.33333333,
        86.83333333,  71.83333333,  50.66666667,  85.66666667])

In [28]:
pokedf.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defence,Speed,Generation,Legendary,Strongness
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,53.000000
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,67.500000
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,87.500000
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,104.166667
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,51.500000

In [35]:
pokedf['Defense'].mean(axis=0)

73.8425

In [42]:
genset3=['1','2','3','4','5']
type3=['Fire','Water','Grass','Poison','Psychic','Rock','Electric','Gas','Normal','Ground','Fighting']
superfilt3= (pokedf['Strongness']>=60) & (pokedf['Strongness']<=80) & (pokedf['Type 1'].isin(type3)) & (pokedf['Generation'].isin(genset3)) & (pokedf['Attack'] >= 75) & (pokedf['Defense'] >= 75) & (pokedf['Sp.Attack'] >= 60) & (pokedf['Sp.Defence'] >= 60)
pokedf[superfilt3]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defence,Speed,Generation,Legendary,Strongness
#,,,,,,,,,,,,
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,79.833333
195,Quagsire,Water,Ground,95,85,85,65,65,35,2,False,71.666667
224,Octillery,Water,NaN,75,105,75,105,75,45,2,False,80.000000
286,Breloom,Grass,Fighting,60,130,80,60,60,70,3,False,76.666667
324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False,78.333333
489,Phione,Water,NaN,80,80,80,80,80,80,4,False,80.000000
569,Garbodor,Poison,NaN,80,95,82,60,82,75,5,False,79.000000

In [46]:
q3df=pokedf[superfilt3]
q3df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp.Attack,Sp.Defence,Speed,Generation,Legendary,Strongness
#,,,,,,,,,,,,
18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,79.833333
195,Quagsire,Water,Ground,95,85,85,65,65,35,2,False,71.666667
224,Octillery,Water,NaN,75,105,75,105,75,45,2,False,80.000000
286,Breloom,Grass,Fighting,60,130,80,60,60,70,3,False,76.666667
324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False,78.333333
489,Phione,Water,NaN,80,80,80,80,80,80,4,False,80.000000
569,Garbodor,Poison,NaN,80,95,82,60,82,75,5,False,79.000000

In [49]:
q3df.drop(columns=['Type 2','Legendary'],inplace=True)

KeyError: "['Type 2' 'Legendary'] not found in axis"

In [50]:
q3df

,Name,Type 1,HP,Attack,Defense,Sp.Attack,Sp.Defence,Speed,Generation,Strongness
#,,,,,,,,,,
18,Pidgeot,Normal,83,80,75,70,70,101,1,79.833333
195,Quagsire,Water,95,85,85,65,65,35,2,71.666667
224,Octillery,Water,75,105,75,105,75,45,2,80.000000
286,Breloom,Grass,60,130,80,60,60,70,3,76.666667
324,Torkoal,Fire,70,85,140,85,70,20,3,78.333333
489,Phione,Water,80,80,80,80,80,80,4,80.000000
569,Garbodor,Poison,80,95,82,60,82,75,5,79.000000

In [51]:
q3df.to_csv('D:\DataAnalysis\Q3df.csv')